{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans" rel="stylesheet">
    <style>
        body {
            font-family: 'Bree Serif', serif;
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>


    <div class="boxed">
    <form action="/register" id = "register" method="post">
        <div class="screen">
        <div class="transbox2">
            <p><font face="Bree Serif" font size="6" color="white"><center>Start creating.</center></font></p>

            <div class="form-group" id="input_container1">
                <input autocomplete="off" id="icon1" style="width: 400px; margin: auto; border-color:#784a89;" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input id="icon2"  class="form-control" style="width: 400px; margin: auto; border-color:#784a89;" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input id="icon3"  class="form-control" style="width: 400px; margin: auto; border-color:#784a89;" name="confirmation" placeholder="Retype Password" type="password"/>
            </div>
            <!--<button class="btn btn-primary" style="display: block; margin: 0 auto; background-color:#743889; border:none; width: 400px" type="submit">Register</button>-->
            <p><font face="Bree Serif" font size="4" color="white"><center>  {{apology}}</center></font></p>
            <button class="btn" type="submit">
                  <svg width="277" height="62">
                    <defs>
                        <linearGradient id="grad1">
                            <stop offset="0%" stop-color="#B53BBA"/>
                            <stop offset="100%" stop-color="#8A28B7" />
                        </linearGradient>
                    </defs>
                     <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
                  </svg>
                  <!--<span>Voir mes réalisations</span>-->
                    <span>Register</span>
                </button>

                <div class="redirectlink" style="padding-top: 12px;"><a href="/login" style="color:#bababa;font-size:14px">Already have an account?</a></div>

        </div>
        </div>
    </form>
    </div>

        <script>
        let form = document.getElementById("register");
        form.onsubmit = function()
        {


            if (!form.username.value)
            {
                document.getElementById("icon1").style.backgroundColor = "#ffb3b3";
                document.getElementById("icon1").placeholder = "Must Provide Username!";
                return false;
            }

            if (!form.password.value)
            {
                document.getElementById("icon2").style.backgroundColor = "#ffb3b3";
                document.getElementById("icon2").placeholder = "Must Provide Password!";
                return false;
            }

            if (!form.confirmation.value)
            {
                document.getElementById("icon3").style.backgroundColor = "#ffb3b3";
                document.getElementById("icon3").placeholder = "Must Provide Password!";
                return false;
            }

            if (form.password.value != form.confirmation.value)
            {

                document.getElementById("icon2").style.backgroundColor = "#ffb3b3";
                document.getElementById("icon3").style.backgroundColor = "#ffb3b3";
                document.getElementById("icon2").value = "";
                document.getElementById("icon2").placeholder = "Passwords Don't Match!";
                return false;
            }

            return true;
        }
    </script>

{% endblock %}